In [4]:
# Import libraries 
import plotly.express as px
import pandas as pd
import numpy as np
import hvplot.pandas
import panel as pn
from pathlib import Path
from panel.interact import interact
from panel import widgets
%matplotlib inline

In [5]:
# read applicants.csv file into dataframe called applicants_df
file = Path("applicants.csv")
applicants_df = pd.read_csv(file)
applicants_df.head()

,Age,Workclass,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Hours-per-week,Native-country,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [6]:
# create a new dataframe by sorting applicants by 'Age'
adult_age_df = applicants_df.sort_values('Age')
adult_age_df

,Age,Workclass,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Hours-per-week,Native-country,Salary
21889,17,Private,9th,5,Never-married,Machine-op-inspct,Own-child,White,Male,20,United-States,<=50K
17677,17,Private,10th,6,Never-married,Other-service,Own-child,White,Female,14,United-States,<=50K
25062,17,Private,11th,7,Never-married,Sales,Own-child,White,Male,5,United-States,<=50K
21878,17,Private,10th,6,Never-married,Sales,Other-relative,White,Male,30,United-States,<=50K
12619,17,Private,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,15,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
15744,90,Local-gov,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,40,United-States,<=50K
3639,90,Private,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,40,United-States,<=50K
5854,90,Private,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K
2088,90,Private,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,<=50K
18458,90,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,40,United-States,<=50K

In [35]:
# Slice data and get the count of hours worked by Age
hours_age_cnt = applicants_df[["Hours-per-week"]].groupby(applicants_df['Age']).count()

# Rename columns to be 'num_total_hours'
hours_age_cnt.columns = ['Total-hours-per-week']

In [36]:
# plot Total hoours worked per Age group
hours_age_cnt.hvplot(kind='bar', x='Age', y='Total-hours-per-week', width=1200)

:Bars   [Age]   (Total-hours-per-week)

In [42]:
# Slice data and get the count of hours worked by Occupation
hours_occ_cnt = round(applicants_df[["Hours-per-week"]].groupby(applicants_df['Occupation']).mean(), 0)

# Rename columns to be 'num_total_hours'
hours_occ_cnt.columns = ['Average-hours-per-week']
hours_occ_cnt.reset_index()

            Occupation  Average-hours-per-week
0         Adm-clerical                    38.0
1         Armed-Forces                    41.0
2         Craft-repair                    43.0
3      Exec-managerial                    45.0
4      Farming-fishing                    47.0
5    Handlers-cleaners                    38.0
6    Machine-op-inspct                    41.0
7        Other-service                    35.0
8      Priv-house-serv                    33.0
9       Prof-specialty                    42.0
10     Protective-serv                    43.0
11               Sales                    41.0
12        Tech-support                    39.0
13    Transport-moving                    45.0

In [44]:
# plot Average hours worked among different occupatoions
hours_occ_cnt.hvplot(kind='bar', x='Occupation', y='Average-hours-per-week', width=1500)

:Bars   [Occupation]   (Average-hours-per-week)

In [ ]:
# Slice data and get the count of hours worked by Occupation
salary_occ_cnt = applicants_df[["Salary"]].groupby(applicants_df['Age'])

In [26]:
# Concatenate data
edu_hoursworked_cnt = pd.concat([edu_grp_cnt,hours_grp_cnt], axis=1).dropna().reset_index()
edu_hoursworked_cnt.head()

AttributeError: 'int' object has no attribute 'describe'

In [ ]:
# Slice data and get the count of hours worked by Age
hours_grp_cnt = applicants_df[["Hours-per-week"]].groupby(applicants_df['Age']).count()

# Rename columns to be 'num_total_hours'
hours_grp_cnt.columns = ['num_total_hours']